#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.aps
*.bak
*.cache
*.dll
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.sln
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*_i.c
*_p.c
[Bb]in
[Dd]ebug*/
ipch/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
